*, a::after, a::before { margin:0; padding:0; box-sizing:inherit; }
:root {
    --blurple: #515fbc;
    --gray: #8e99a1;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height:80px;
  padding: 0 20px;
  background-color: #EFEFEF;
  color:#333333;
}

main {
  min-height: 80vh;
  margin: 20px
}

.search-container {
  text-align: center;
}

.search-container input[type=text] {
  width: 750px;
  height:40px;
  font-size: 1.4em;
}

.search-container button {
  margin: 12px auto;
  padding: 6px 20px;
  background-color: #882299;
  color:#FFFFFF;
  border-radius: 4px;
  font-size:1.4em;
  font-weight: bold;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height:80px;
  padding: 0 20px;
  background-color: #333333;
  color:#FFFFFF;
}
