*, a::after, a::before { margin:0; padding:0; box-sizing:inherit; }
:root {
    --greenaccent: #339a55;
    --darkgrey: #333333;
}

header {
  padding: 12px 20px;
  background-color:var(--darkgrey);
  color:#FFFFFF;
  text-shadow: 1px 1px 4px #333333;
}
header>nav>ul {
  display:flex;
  justify-content: flex-start;
  list-style-type:none;
  margin-top:20px;
}
header>nav a {
  margin: 8px 12px;
  color:#ffffff;
  font-weight: bold;
  text-decoration:none;
}
header>nav a:hover {
  color:#DCDCDC;
  text-decoration: underline;
}

#main {
  min-height: 72vh;
  text-align: center;
  margin-top: 32px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height:80px;
  padding: 0 20px;
  background-color: var(--darkgrey);
  color:#FFFFFF;
}

/* HOMEPAGE */
#hero {
  background: #FFFFFF url(./assets/stars-background.jpeg) no-repeat center;
  background-size:cover;
  height:200px;
  margin-top:-32px;
}
#homepage-intro {
  margin-top:32px;
}


/* SEARCH PAGE */
.search-container input[type=text] {
  width: 750px;
  height:40px;
  font-size: 1.4em;
  padding-left: 12px;
}

.main-button-green {
  margin: 12px auto;
  padding: 6px 20px;
  background-color: #339a55;
  color:#FFFFFF;
  border-radius: 4px;
  font-size:1.4em;
  font-weight: bold;
}

#rep-search-results { 
  padding-top:40px; 
}
#rep-search-results h4.rep-name-office {
  margin-bottom:4px;
}
#rep-search-results div.rep-info {
  margin-bottom: 2em;
}
#rep-search-results div.rep-info p {
  font-size:1.2em;
  margin-bottom: 0;
}

/* SIGNUP PAGE */
.user-form {
  width:80%;
  max-width: 500px;
  margin:0 auto;
}
.user-form form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}
.user-form h2 {
  margin-bottom: 64px;
}
.user-form label{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 32px;
}